/**
 * Component: Heading
 */

.heading {
    font-family: var(--font-heading);
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 1rem;
    
    &.heading-1 {
        font-size: 3rem;
    }
    
    &.heading-2 {
        font-size: 2.5rem;
    }
    
    &.heading-3 {
        font-size: 2rem;
    }
}
